/*HOME PAGE CSS*/
.header{
  display: flex;
  align-items: center;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
.navbar-list{
  display: block;
  
}
.link{ 
  padding: 1rem; 
  
}
.auth_link{
  display: none;
}
.form-search{
  display: block;
  width: 100%;
}

.home-page-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-page-container h1.title{
  width: 100%;
}

.description{
  display: block;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*GAMES CSS*/
.games-container{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 100%;
}
.games-container h2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-search{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game-container{
  margin-top: 1rem;
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 20px;


}
.game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.game img{
  


}

/*AUTENTICATION CSS*/

.autentication-container{
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{

}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 1rem;
  border-radius: 3%;
}